<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <style>

        body {
            background-image: url('{{ url_for("static", filename="images/College Background.png") }}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Attendance Management System</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/adypu_logo.png') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div style="
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
"></div>

    <div class="container mt-4" style="position: relative; z-index: 1;">
        <div class="d-flex align-items-center mb-4">

            <img src="{{ url_for('static', filename='images/ADYPU.png') }}" alt="College Logo" width="70" height="70"
                class="me-3">

            <div>

                <h2 class="mb-0">
                    Attendance Portal 
                </h2>

                <small class="text-muted">
                    ABC College
                </small>

            </div>

        </div>

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>
